# Ignore pics directories and their contents anywhere in the project
pics/
**/pics/

# Common Hugo/Git ignores
.hugo_build.lock
public/
resources/_gen/
.DS_Store

# Ignore large index files
index.json
**/index.json

# Ignore other potentially large files
*.log
*.tmp